/**** Containers ****/

.hidden {
  display: none;
}

.backdropImage {
  height: 600px;
  background-position: top;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

#backdropImage{
  filter:blur(50px)
}

.top {
  margin-top: 90px;
  padding-top: 20px;
  height: 300px;

  border-radius: 2px;
  border: white;
}

.bottom {
  height: 600px;
}

/****  ****/
.banner {
  background-position: center;
  background-size: cover;
  background-color: grey;
  border: 2px;
  border-color: white;
}

.infoBox {
  border: 2px;
  background-color: #f7f3f3;
}

.textBox {
  margin: 20px 20px 0px 20px;
}

.description {
  background-color: #f7f3f3;
}

.maps {
  background-color: #f7f3f3;
}
.mapBox {
  margin-top: 10px;
}

/**** Paragraph *****/

p.timeLocation {
  margin-top: 25px;
  margin-bottom: 32px;
  font-size: 14px;
}

p.description {
  font-size: 75%;
}

p.date {
  text-align: center;
  margin-top: 35px;
  font-size: 23px;
}

.text-center {
  text-align: center !important;
}

/*** Buttons ***/

.action {

  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  margin: 0 .5rem 0 .5rem;
  border: 2px solid #66b260;
  color: #ffffff;
  background: linear-gradient(120deg, #8ac97c 0%, #3DB2C0 100%);
}

.action:hover {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: white;
}

.calendar {
  background-color: #3d77e1;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;

}

.card {
  padding: 1rem 0.5rem;
}