:root {
  font-size: 16px;
  --bg-primary: #FAFAFA;
  --bg-secondary: #EBEBEB;
  --bg-tertiary: #c4c4c4;

  --color-primary: #000000;
  --color-secondary: #878787;
  --color-tertiary: #289263;

  --border-radius: "10px";
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.centered {
  margin: 0px auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bg-centered {
  background-position: center;
  background-size: cover;
}

.container {
  width: 90%;
  margin: 0px auto;
}

@media screen and (max-width: 660px) {
  .container {
    width: 100%;
    margin: 0px auto;
  }
}

/*
Padding rules
*/

.padding-1 {
  padding: 1rem;
}
.padding-2 {
  padding: 2rem;
}

/*
Margin rules
*/

.margin-1 {
  margin: 1rem;
}
.margin-2 {
  margin: 2rem;
}

/*
Card
*/

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.bg-tertiary {
  background-color: var(--bg-tertiary) !important;
}

/* Nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg-secondary);
}

nav div:nth-of-child(3n + 2),
nav div:nth-of-child(3n) {
  text-align: center;
}

nav div.navbar {
  width: 100%;
  justify-content: space-between;
}

nav ul.nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px 1rem;
}

nav ul.nav a {
  text-decoration: none;
  color: var(--color-primary);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-radius: #00ff00;
}

/* Home Page Styles */


#sideColumn, div#createEvent {
    margin: 1rem 0px;
}

@media only screen and (max-width: 768px) {
  div#createEvent, #sideColumn {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div#createEvent {
    width: 60%;
    padding: 10px;
  }

  #sideColumn {
    width: 30%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

#homePageContainer {
  justify-content: space-between;
}