
/**** Containers ****/

.backgroundC{
    
    height: 400px;
    background-color: #38db6a;
    background-position: top;
}

.top{
    margin-top: 90px;
    padding-top: 20px;
    height: 300px;
    
    border-radius: 2px;
    border: white;
}

.bot{    
    height: 600px;
}

/****  ****/
.banner{
    
    background-position: center;
    background-size: cover;
    background-color: grey;
    border: 2px;
    border-color: white;
       
   
}

.infoBox{
    border: 2px;
    background-color: #f7f3f3;
    
    
}

.textbox{
    margin: 20px 20px 0px 20px;
}

.description{
    background-color: #f7f3f3;
    
}

.maps{
    background-color: #f7f3f3;
}
.mapBox{
    margin-top: 10px;
}



/**** Paragraph *****/

p.timeLocation{
    margin-top: 25px;
    font-size: 14px;
}

p.description{
    
    font-size: 75%;  
   
}

p.date{
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
}


/*** Buttons ***/

.action{
    margin-top: 40px;
    margin-left: 100px;
    padding 10px, 30px;
    border-radius: 6px;
    border: 2px solid #66b260;
    color: #ffffff;
    border-radius: 6px;
    background: linear-gradient(120deg, #8ac97c 0%, #3DB2C0 100%);

}

.action:hover{
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: white;
    
}

.calendar{
    background-color: #3d77e1;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    margin-top: 50px;
    margin-left: 55px;
    
}